<h1>Sign in</h1>

<form action="/verify_credentials" method="post">
  <div>
    <label for="browser_username">Username</label>
    <input id="browser_username" name="qs_username" placeholder="Enter your username..." type="text">
  </div>

  <div>
    <label for="browser_password">Password</label>
    <input id="browser_password" name="qs_password" placeholder="Choose a password..." type="password">
  </div>

  <button>
    Sign in
  </button>
</form>
